<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893349040607-kjioq2pm5b1juea5hods65fo5ffqrsvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893349040607-kjioq2pm5b1juea5hods65fo5ffqrsvm</string>
	<key>API_KEY</key>
	<string>AIzaSyD_dl-WXn0uOY-6XjwN-zgnrswmt44tN7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>893349040607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emart</string>
	<key>PROJECT_ID</key>
	<string>myshoppingapp-bbb18</string>
	<key>STORAGE_BUCKET</key>
	<string>myshoppingapp-bbb18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893349040607:ios:834fc8abf43b8e16bf346a</string>
</dict>
</plist>